<div class="gradient"></div>

<header>
  <nav class="navbar">
    <div class="logo"><a href="/">iClick</a></div>
    <div class="navbtn">
      <a href="/leaderboard">Leaderboard</a>
      <a href="/about">About</a>
      <a class="sign-btn" href="/login"><span>Sign in</span></a>
    </div>
  </nav>
</header>