<%- include('partials/header')%>

<div class="KotakUtamaAbout">
  <div class="KotakGridTeksAbout">
    <h1 style="color:white;">Welcome to iClick</h1>
    <p>
      iClick adalah sebuah permainan sederhana berbasis teknologi back-end yang dapat dijalankan melalui website.

      Pada permainan ini pemain harus mengklik sebanyak mungkin dalam waktu tertentu. Game ini juga memiliki beberapa fitur menarik yang membuatnya lebih menantang dan seru jika dimainkan.
    </p>
    <p>
    Owned by Kaming, Charless, and Joe Nickson Lie
    </p>
  </div>
</div>

