<%- include('partials/header.ejs') %>

  <div class="KotakUtamaPassword">
    <h2>Reset Password</h2>
    <form action="/ChangePassword" method="POST">
      <label1 for="currentPassword" class="LabelCurrentPassword">Current Password:</label1>
      <input
        type="password"
        id="currentPassword"
        name="currentPassword"
        required
      />

    <label2 for="newPassword" class="LabelNewPassword">New Password:</label2>
      <input type="password" id="newPassword" name="newPassword" required />

      <label3 for="confirmPassword" class="LabelConfirmPassword">Confirm Password:</label3>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      />

      <p class="PsnErrorLogPW">
        <%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>
      </p>

      <p class="PsnSuccessLogPW">
        <%= typeof successMessage !== 'undefined' ? successMessage : '' %>
      </p>

      <button type="submit" class="TombolPassword">Save!</button>
    </form>
  </div>